src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Définition de la structure d'un user -->
    <xs:element name="user">
        <xs:complexType>
            <xs:sequence>
                <!-- id : optionnel (généré par MySQL) -->
                <xs:element name="id" type="xs:long" minOccurs="0"/>

                <!-- name : obligatoire, entre 2 et 100 caractères -->
                <xs:element name="name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="2"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <!-- email : obligatoire, doit contenir @ -->
                <xs:element name="email">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[^@]+@[^@]+\.[^@]+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <!-- password : obligatoire, minimum 4 caractères -->
                <xs:element name="password">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="4"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>