src/main/resources/user.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD describing the structure of a <user> element -->
<!-- id is optional (generated by the database), the rest are required -->
<!ELEMENT user (id?, name, email, password)>

<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT password (#PCDATA)>
